<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Pricing
                <small>Our Pricing Options</small>
            </h1>
            <ol class="breadcrumb">
                <li ><a href="#/" class="text-font1">Home</a>
                </li>
                <li class="text">Pricing Table</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-3" ng-repeat="deal in pricing.prices">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>{{deal.type}}</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">{{deal.price}}
                        <span class="price-cents">{{deal.price_cents}}</span>
                        <span class="price-month">mo.</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">{{deal.paintings}}</li>
                    <li class="list-group-item">{{deal.storage}}</li>
                     <li class="list-group-item">{{deal.transportation}}</li>
                     <li class="list-group-item">{{deal.guarantee}}</li>
                    <li class="list-group-item"><button class="btn btn-primary">Sign Up Now!</button>
                    </li>
                </ul>
            </div>
        </div>
    

    </div>

</div>
<!-- /.container -->