<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Sign up
               
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/" class="text-font1">Home</a>
                </li>
                <li class="text">Sign up</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <form class="form-signin" name="regForm"  novalidate>

                <div class="form-group" ng-class="{ 'has-error' : regForm.option .$invalid && regForm.option.$touched }">
                   <label for="option">Pricing option</label>
                    <input type="text" id="option" name="option" class="form-control" 
                        ng-model="pricing.user.option" autocomplete="option" required autofocus>
                        <p  class="help-block" ng-show="regForm.option.$error.required">
                        Cannot be empty. Should be one of: Basic, Plus, Premium, Ultimate</p>
                </div>
            
                <div class="form-group" ng-class="{ 'has-error' : regForm.name.$invalid && regForm.name.$touched }">
                   <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" ng-model="pricing.user.name" autocomplete="name"      ng-maxlength="30" required autofocus>
                    <p  class="help-block" ng-show="regForm.name.$error.maxlength">Max name length is 30 characters</p>
                </div>
                
                <div class="form-group " >
                    <label for="location">Location</label> 
                        <input class="form-control" id="location" type="text" 
                            placeholder="123, Any Street, Anywhere" ng-model="pricing.user.location" name="loc"
                            autocomplete="shipping street-address" autofocus>
                    
                </div>
                

                <label for="additional-info"><span>Optional Biographical Information: </span>
                <input id="additional-info" type="checkbox" ng-model="pricing.moreInfo">
                </label>
                
                <div class="form-group" >
                    <label for="employer" ng-show="pricing.getMoreInfo()">Employer </label>
                    <input class="form-control" id="employer" name="employer" type="text" placeholder="Employer" ng-maxlength="30" ng-model="pricing.user.employer" ng-show="pricing.getMoreInfo()">
                    
                </div> 

                <div class="form-group" >
                    <label for="job-title" ng-show="pricing.getMoreInfo()"> Job Title </label>
                    <input class="form-control" id="job-title" name="title" type="text" placeholder="Job Title" ng-maxlength="30" ng-model="pricing.user.title" ng-show="pricing.getMoreInfo()">
                   
                </div>
                
                <button type="button" class="btn btn-lg btn-primary btn-block" ng-disabled="!pricing.user.name || !pricing.user.option" ng-click="signUp()">Sign Up</button>
            </form>

        </div>

</div>
