<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Sign up
               
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/" class="text-font1">Home</a>
                </li>
                <li class="text">Sign up</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <form class="form-signin" name="regForm"  novalidate>

                <div class="form-group" >
                   <label for="name">Pricing option</label>
                    <input type="text" id="name" name="name" class="form-control" ng-model="user.name" autocomplete="name" autofocus>
                </div>

                <div class="form-group" >
                   <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" ng-model="user.name" autocomplete="name" autofocus>
                </div>
                
                <div class="form-group" >
                    <label for="location">Location</label> 
                        <input class="form-control" id="location" type="text" 
                            placeholder="123, Any Street, Anywhere" ng-model="event.location" name="loc"
                            autocomplete="shipping street-address" autofocus>
                    
                </div>
                

                <label for="additional-info"><span>Optional Biographical Information: </span>
                <input id="additional-info" type="checkbox" ng-model="moreInfo">
                </label>

                <div class="form-group" ng-class="{ 'has-error' : regForm.employer.$invalid }">
                    <label for="employer"><span class="sr-only">Employer</span>
                    <input class="form-control" id="employer" name="employer" type="text" placeholder="Employer" ng-maxlength="30" ng-model="user.employer" ng-show="getMoreInfo()">
                    <p  class="help-block" ng-show="regForm.employer.$error.maxlength">Max employer length is 30 characters</p>
                    </label>
                </div> 

                <div class="form-group" ng-class="{ 'has-error' : regForm.title.$invalid }">
                    <label for="job-title"><span class="sr-only">Job Title</span>
                    <input class="form-control" id="job-title" name="title" type="text" placeholder="Job Title" ng-maxlength="30" ng-model="user.title" ng-show="getMoreInfo()">
                    <p  class="help-block" ng-show="regForm.title.$error.maxlength">Max job title length is 30 characters</p>
                   </label>
                </div>
                <a href="#/login" ng-show="getRegError()">Login</a>

                <button type="button" class="btn btn-lg btn-primary btn-block" ng-disabled="!user.email || !user.password" ng-click="signUp()">Sign Up</button>
            </form>

        </div>

</div>
