<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Treadstone Blog Home 
                <small>Blog Homepage For The Artists</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/" class="text-font1">Home</a>
                </li>
                <li class="text">Blog Home</li>
            </ol>
        </div>

    </div>

    <div ng-repeat="blog in blog.blogs">

        <div class="row">

            <div class="col-md-1">
                <p><i class="{{blog.icon}}"></i>
                </p>

                <p>{{blog.date}}</p>
            </div>
            <div class="col-md-5">
                <a href="#/">
                    <img src="{{blog.url}}" class="img-responsive" alt="Blog Image">
                </a>
            </div>
            <div class="col-md-6">
                <h3><a href="#/">{{blog.title}}</a>
                </h3>

                <p>By <a href="#/">{{blog.author}}</a>
                </p>

                <p>{{blog.text}}</p>
                <a class="btn btn-primary" href="#/">Read More <i class="fa fa-angle-right"></i></a>
            </div>

        </div>

        <hr>

    </div>

    
    <div class="row">

        <ul class="pager">
            <li class="previous"><a href="#/">&larr; Older</a>
            </li>
            <li class="next"><a href="#/">Newer &rarr;</a>
            </li>
        </ul>

    </div>

</div>
<!-- /.container -->
